[submodule "lib/glxw"]
	path = lib/glxw
	url = http://glxw.dav1d.de/glxw.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
